<h2>Buscar Pedido</h2>
<form method="get">
    <label>Cliente</label>
    <input name="cliente" />

    <label>Data Inicial</label>
    <input type="date" name="dataInicio" />

    <label>Data Final</label>
    <input type="date" name="dataFim" />

    <button type="submit">Buscar</button>
</form>